.header {
	height: 50px;
	background-color: lightgreen;
	display: flex;
	justify-content: space-between;
}

.section {
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	color:#fff;
	padding:10px 15px;

}

a:hover {
	background-color: yellow;
	cursor: pointer;
}

.item {
	margin-right: 5px;
}

.logo {
	margin-left: 10px;
	font-weight: bold;
	color:#fff;
	text-transform: uppercase;
}